.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

@keyframes load-menu {
  from {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(0px);
  }
}

.load-menu {
  animation: load-menu 0.5s;
}

.grow-on-hover {
  scale: 1;
  transition: scale 0.2s ease-in-out;
}

.grow-on-hover:hover {
  scale: 1.05;
  transition: scale 0.2s ease-in-out;
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

dialog {
  animation: opacity-animation 0.5s;
}

dialog::backdrop {
  animation: opacity-animation 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
}
