* {
  box-sizing: border-box;
  scrollbar-color: #7d7d7d #fafafa;
  scrollbar-width: thin;
}

#root,
body {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
}

@media (min-width: 768px) {
  #root {
    overflow-y: hidden;
  }
}

a {
  text-decoration: none !important;
  color: rgb(232, 232, 232) !important;
}

.font-karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.font-varela-round {
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
}

.w-60 {
  width: 60%;
}

.h-60 {
  height: 60%;
}

.transition {
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  /* transition: opacity 0.25s linear - N達o sei pq n達o funcionou*/
}

.custom-transition {
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  /* transition: opacity 0.25s linear - N達o sei pq n達o funcionou*/
}

.clickable {
  cursor: pointer;
}

.projects-paddings {
  padding: 4%;
}

@media (min-width: 992px) {
  .projects-paddings {
    padding: 5%;
  }
}
