* {
  box-sizing: border-box;
  scrollbar-color: #7d7d7d #fafafa;
  scrollbar-width: thin;
}

#root,
body {
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
}

@media (min-width: 768px) {
  #root {
    overflow-y: hidden;
  }
}

a {
  text-decoration: none !important;
  color: rgb(232, 232, 232) !important;
}

.font-karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.font-varela-round {
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
}

.w-60 {
  width: 60%;
}

.h-60 {
  height: 60%;
}

.transition {
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  /* transition: opacity 0.25s linear - Não sei pq não funcionou*/
}

.custom-transition {
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  /* transition: opacity 0.25s linear - Não sei pq não funcionou*/
}

.clickable {
  cursor: pointer;
}

.projects-paddings {
  padding: 4%;
}

@media (min-width: 992px) {
  .projects-paddings {
    padding: 5%;
  }
}

.wrapper {
  height: 100%;
}

.scrollable-container-mockup {
  height: 100%;
  overflow-y: auto;
  pointer-events: all;
  scrollbar-width: none;
}

/* CLASSES DE ZOOM DE IMAGENS */

.medium-zoom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
}
.medium-zoom--opened .medium-zoom-overlay {
  cursor: pointer;
  cursor: zoom-out;
  opacity: 1;
}
.medium-zoom-image {
  cursor: pointer;
  cursor: zoom-in;
  transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1) !important;
}
.medium-zoom-image--hidden {
  visibility: hidden;
}
.medium-zoom-image--opened {
  position: relative;
  cursor: pointer;
  cursor: zoom-out;
  will-change: transform;
}
